*.class
*.jar
*.war
*.nar
*.ear
*.log
*.tmp
*.swp

/target/

/wov-world-of-void-1.0-SNAPSHOT.jar
/wov-world-of-void-1.0-SNAPSHOT.jar.original

.idea/
*.iml
*.iws
out/

.DS_Store
Thumbs.db

hs_err_pid*
replay_pid*

*.zip
*.tar.gz
*.rar

src/main/resources-filtered/